[submodule "tmux/plugins/powerline"]
	path = tmux/plugins/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
